body {
  margin: 0px;
  padding: 10px;
  font-family: sans-serif;
}
.explanation {
    #width: 90% !important;
}
.expl-image {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;

}
